.el-tabs__content{
  height: calc(100% - 70px);
}
.el-tab-pane{
  height: 100%;
}
.el-scrollbar{
  height: 100%;
}
.el-scrollbar__wrap{
  overflow-x: hidden;
}
.el-select-dropdown__wrap.el-scrollbar__wrap{
  overflow-x: scroll;
}
.el-cascader-menu__wrap.el-scrollbar__wrap{
  overflow-x: scroll;
}
.chart-home .el-scrollbar__wrap{
  overflow-y: auto;
  overflow-x: hidden;
}
.chart-container-box{
  display: flex;
  flex-wrap: wrap;
}
.charts-box{
  width: 450px;
  height: 400px;
  margin-left: 10px;
  margin-bottom: 15px;
  position: relative;
  .chart-title{
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
  }
}
.ec-box{
  height: 85%;
}

.clearFixed:after {
  visibility: hidden;
  display: block;
  clear: both;
  height: 0;
  font-size: 0;
  content: ".";
}
.left{
  float: left;
}
.lh40{
  height: 40px;
  line-height: 40px;
}
.title-logo{
  background: url("../../src/assets/logo.png") no-repeat;
}
.title-place{
  background: url("../../src/assets/icon.png") no-repeat;
}
